body {
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.container-homepage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 12% 58% 30%;
    width: 100vw;
    height: 100vh;
}

.site-header {
    background-color: #EBCF76;
    grid-column: 1 / 6;
}

.navbar {
    display: flex;
    margin-bottom: 2rem;
}

.logo-img {
    width: 80%;
    min-width: 100px;
    max-width: 100px;
    height: auto;
}

.logo-center {
    flex: 3;
    text-align: center;
    order: 2;
}

#btn-login {
    flex: 0;
    order: 4;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    margin: 40px 20px;
}


/* #nav-list {
    list-style: none;
    display: grid;
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 2 / 5;
    align-self: center;
}

#nav-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.8rem;
    text-align: center;
    text-justify: center;
    font-size: 1.1rem;
}

#nav-list>* {
    background-color: red;
    border: 1px solid black;
} */

/* Footer CSS */

.site-footer {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.site-footer {
    background-color: #EBCF76;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.site-footer a {
    text-decoration: none;
    color: black;


}

.site-footer ul {
    text-decoration: none;
    list-style: none;

}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30vh;
}

.find-us {
    justify-self: center;
}

.quick-links {
    justify-self: center;
}

.quick-links h6 {
    text-align: center;
}

.copyright {
    justify-self: center;
    height: 5px;
    grid-column: 1 / 4;
    border-top: 1px solid black;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 9999;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.text-style {
    text-align: unset;
    margin: 0px auto;
    color: rgb(45, 42, 42);
    top: 50%;
    font-weight: 600;
    text-shadow: -1px -1px 0px rgb(67, 65, 65)
}

.text-style0 {
    color: rgb(45, 42, 42);
    font-weight: 600;
    text-shadow: -1px -1px 0px rgb(67, 65, 65)
}

.text-style1 {
    text-align: unset;
    margin: 0px auto;
    color: rgb(45, 42, 42);
    top: 50%;
    font-weight: 600;
    text-shadow: -0.5px -0.5px 0px rgb(67, 65, 65)
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    left: 25%;

}

#profilePicture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75px;
    width: 75px;
    border-style: solid;
    border: 3px solid #aaa
}

#users {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 700px) {

    .container-homepage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12% 58% 30%;
    }

    .site-footer {
        height: 55vh;

    }

    .container-footer {
        background-color: #EBCF76;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10px 10px 10px 10px;
    }

    .about-us {
        text-align: center;
        grid-row: 1 / 2;
    }

    .find-us {
        text-align: center;
        grid-row: 2 / 3;
    }

    .quick-links {
        grid-row: 3 / 4;
    }

    .copyright {
        grid-row: 4 / 5;

    }

}

#profile-center {
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

#profile-info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}