body {   
    font-family: 'Roboto Condensed', sans-serif;    
}

/* Homepage Html - Header only */

.container-homepage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 12% 58% 30%;
    width: 100vw;
    height: 100vh;
}

.site-header {
    background-color: #EBCF76;
    grid-column: 1 / 6;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.logo-img {
    width: 80%;
    min-width: 100px;
    max-width: 100px;
    height: auto;
}

.logo-center {
    grid-column: 3 / 4;
    text-align: center;
}

#nav-list {
    list-style: none;
    display: grid;
    gap: 20px;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 2 / 5;
    align-self: center;
}

#nav-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.8rem;
    text-align: center;
    text-justify: center;
    font-size: 1.1rem;
}

#nav-list>* {
    border: 1px solid black;
}



#btn-login {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    grid-column: 5 / 6;
    margin: 40px 80px;
}

.site-footer {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

/* Homepage - Footer only */

.site-footer {
    background-color: #EBCF76;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.site-footer a {
    text-decoration: none;
    color: black;


}

.site-footer ul {
    text-decoration: none;
    list-style: none;

}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.find-us {
    justify-self: center;
}

.quick-links {
    justify-self: center;
}

.quick-links h6 {
    text-align: center;
}

.copyright {
    justify-self: center;
    height: 5px;
    grid-column: 1 / 4;
    border-top: 1px solid black;
}

@media (max-width: 700px) {

    .container-homepage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12% 58% 30%;
    }

    .site-footer {
        height: 55vh;

    }

    .container-footer {
        background-color: #EBCF76;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 10px 10px 10px 10px;
    }

    .about-us {
        text-align: center;
        grid-row: 1 / 2;
    }

    .find-us {
        text-align: center;
        grid-row: 2 / 3;
    }

    .quick-links {
        grid-row: 3 / 4;
    }

    .copyright {
        grid-row: 4 / 5;

    }





}





